  <h1 class="text-light text-center">Day Planner</h1>
  <div class="jumbotron m-4">
    <div class="col-md-12 text-center">
  <ul class=class="text-left" style="display:inline-block;vertical-align:middle;list-style-type: none;">
    {{#each plans}}
    <li>
      <p>
        {{this.id}}. {{this.plan}}
  
        <button data-planid="{{this.id}}" class="delplan btn-danger">Delete Plan!</button>
      </p>
    </li>
    {{/each}}
  </ul>
  </div>
  </div>
  <div class="jumbotron text-center m-4">
    <!--Create Post-->
  <h2>Create a Plan</h2>
  <form id="createplan" class="button-size form-group">
    <textarea class="form-control form-control-lg mr-4 ml-auto" type="text" name="plan"></textarea>
    <button class="btn btn-primary btn-lg mt-2 " type="submit">Save Plan!</button>
  </form>
  <!--Update post-->
  <h2>Update a Plan</h2>
  <form id="updateplan" class="button-size">
    <select class="mb-2" name="id">
  		{{#each plans}}
  			<option  value="{{this.id}}">{{this.plan}}</option>
  		{{/each}}
  	</select>
    <textarea class="form-control form-control-lg mr-4 ml-auto" type="text" name="plan" placeholder="plan"></textarea>
    <button class="btn btn-primary btn-lg mt-2" type="submit">Update Plan!</button>
  </form>
  </div>
  
  
  <script type="text/javascript">
    $(".delplan").on("click", function(event) {
      // Get the ID from the button.
      // This is shorthand for $(this).attr("data-planid")
      var id = $(this).data("planid");
  
      // Send the DELETE request.
      $.ajax("/api/plans/" + id, {
        type: "DELETE"
      }).then(
        function() {
          console.log("deleted id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  
    $("#createplan").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      // [name=plan] will find an element with a "name" attribute equal to the string "plan"
      var newPlan = {
        plan: $("#createplan [name=plan]").val().trim()
      };
  
      // Send the POST request.
      $.ajax("/api/plans", {
        type: "POST",
        data: newPlan
      }).then(
        function() {
          console.log("created new plan");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  
    $("#updateplan").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      // Get the ID by finding an element with a "name" attribute equal to the string "id"
      var id = $("[name=id]").val().trim();
  
      var updatedPlan = {
        plan: $("#updateplan [name=plan]").val().trim()
      };
  
      // Send the PUT request.
      $.ajax("/api/plans/" + id, {
        type: "PUT",
        data: updatedPlan
      }).then(
        function() {
          console.log("updated id ", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  </script>
  